<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{/Layout/Head}">
        <title>Register</title>
    </head>
    <link rel="stylesheet" th:href="@{/CSS/Register.css}">
</head>
<body>
    <div class="bg-light py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h3>ĐĂNG KÝ</h3>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/register}" th:object="${user}" method="post">
                            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
                            <div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}"></div>
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-12 col-md-6">
                                    <label for="id" class="form-label">Username <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" th:field="*{id}" id="id" placeholder="Your username" >
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="name@example.com" >
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" th:field="*{fullname}" id="fullname" placeholder="Your full name" >
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="phone" class="form-label">Phone Number <span class="text-danger">*</span></label>
                                    <input type="tel" class="form-control" th:field="*{phone}" id="phone" placeholder="Your phone number" >
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Your password" >
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="confirm_password" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm your password" >
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="terms" id="terms" >
                                        <label class="form-check-label text-secondary" for="terms">I agree to the terms and conditions</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary" type="submit">Sign Up Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-2 border-secondary-subtle">
                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                                    <a href="/login" class="link-secondary text-decoration-none">Already have an account? Log in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>