<!-- Sidebar -->
<div class="sidebar">
    <div class="logo">
        <a href="/index">
            <i class="fas fa-store"></i> Admin Panel
        </a>
    </div>
    <div class="nav-title">Menu</div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/manageproduct"><i class="fas fa-edit"></i> Quản Lý Sản Phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/managecategory"><i class="fas fa-list"></i> Quản Lý Danh Mục</a>
        </li>
    </ul>
</div>