<!-- Sidebar -->
<!-- <div class="sidebar">
    <div class="logo">
        <a href="/index">
            <i class="fas fa-store"></i> Admin Panel
        </a>
    </div>
    <div class="nav-title">Menu</div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/manageuser"><i class="fas fa-edit"></i> Quản Lý Người Dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/manageproduct"><i class="fas fa-edit"></i> Quản Lý Sản Phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/managecategory"><i class="fas fa-list"></i> Quản Lý Danh Mục</a>
        </li>
    </ul>
</div> -->

<!-- Sidebar -->
<!-- <div class="sidebar">
    <div class="logo">
        <a href="/index">
            <i class="fas fa-store"></i>
            <span>Admin Panel</span>
        </a>
    </div>
    <div class="nav-title">Menu</div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/manageproduct"><i class="fas fa-tag"></i> 
                <span>Quản Lý Sản Phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/managecategory"><i class="fas fa-folder"></i>
                <span>Quản Lý Danh Mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/manageuser"><i class="fa-solid fa-user"></i>
            <span>Quản Lý Nguời Dùng</span></a>
        </a>
        </li>
    </ul>
</div> -->

<!-- Sidebar.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar" class="sidebar">
    <div class="logo">
        <a href="/index">
            <i class="fas fa-store"></i>
            <span>ADMIN</span>
        </a>
    </div>
    <div class="nav-title">Menu</div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/manageproduct"><i class="fas fa-tag"></i> 
                <span>Quản Lý Sản Phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/managecategory"><i class="fas fa-folder"></i>
                <span>Quản Lý Danh Mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manageuser"><i class="fa-solid fa-user"></i>
                <span>Quản Lý Người Dùng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/manageorder"><i class="fa-solid fa-user"></i>
                <span>Quản Lý Hóa Đơn</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/vouchers"><i class="fa-solid fa-user"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li>
    </ul>
</div>
</html>